name: Build Docker images

on:
  push:
    branches: [main]
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build backend image
        uses: docker/build-push-action@v5
        with:
          context: ./
          file: backend/Dockerfile
          push: false
          tags: tenant_app/backend:latest

      - name: Build frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./
          file: frontend/Dockerfile
          push: false
          tags: tenant_app/frontend:latest
